###########################
# OmniROM Aries sepolicy
#
type geomagneticd, domain;
type geomagneticd_exec, exec_type, file_type;
type geomagneticd_data_file, file_type, data_file_type;

init_daemon_domain(geomagneticd)

type_transition geomagneticd system_data_file:file geomagneticd_data_file;

allow geomagneticd input_device:chr_file { read ioctl open };
allow geomagneticd input_device:dir { search read open };

allow geomagneticd sysfs:file write;

allow geomagneticd system_data_file:dir { write remove_name add_name };

allow geomagneticd geomagneticd_data_file:file { create rename write getattr setattr read open unlink };