###########################
# OmniROM Aries sepolicy
#
# DSP Manager
allow untrusted_app sysfs_dspmanager:file { read open getattr write };

allow untrusted_app rild_file:file r_file_perms;
allow untrusted_app rild_file:dir { read open search getattr };

allow untrusted_app datadata_file:file { rename setattr read lock create getattr write ioctl unlink open };
allow untrusted_app datadata_file:dir { search write getattr read remove_name open add_name };
allow untrusted_app datadata_file:lnk_file create_file_perms;

allow untrusted_app backup_data_file:dir { create_dir_perms };

allow untrusted_app block_device:file r_file_perms;
allow untrusted_app block_device:dir r_dir_perms;

allow untrusted_app efs_file:file { getattr };
allow untrusted_app efs_file:dir { getattr };
allow untrusted_app app_data_file:dir open;
allow untrusted_app sysfs_dspmanager:file write;

allow untrusted_app datadata_file:lnk_file { read getattr unlink create };